<div class="table-container">
  <table mat-table [dataSource]="tableDatasource">

    <ng-container *ngFor="let column of tableHeaders" [matColumnDef]="column.id">
      <!-- TABLE HEADERS DISPLAY -->
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'table-header-cell':true}"> {{column.display}} </th>
      <!-- COLUMN DISPLAY -->
      <td mat-cell *matCellDef="let element"> {{element[column.id]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" class="header-row"></tr>

    <!-- Animation will only trigger for first row and NOT paging, thus creating the effect of
    a row inserted from the left when time is lapped and added to the table -->
    <tr mat-row 
      [@recordInsertAnime]="{value: ( pagingInAction ? 'added' : ((isFirst && !pagingInAction)? 'added' : null) ), 
        params: { fadeOutTime: rowFadeOutTime, fadeInTime: rowFadeInTime}}"
      (@recordInsertAnime.done)="rowAnimationEnd($event)"
      *matRowDef="let row; columns: displayedColumns; first as isFirst" 
      (click)="onRowClick(row)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[7, 10, 15, 50]" showFirstLastButtons pageSize="7"
    class="mat-paginator-sticky font-secondary" (page)="onPage($event)"></mat-paginator>
</div>
