table {
  width: 100%;
}

.wider-column {
  min-width: 300px;
}

.table-header-cell {
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 15px;
}

.table-container {
  /* display: flex;
  flex-direction: column; */
  min-width: 400px;
  height: 400px;
  overflow: auto;
}

.mat-header-row.header-row {
  background-color: #ccc;
  color: #000;
}