<div class="table-container">
  <table mat-table [dataSource]="tableDatasource">

    <ng-container *ngFor="let column of tableHeaders" [matColumnDef]="column.id">
      <!-- TABLE HEADERS DISPLAY -->
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'table-header-cell':true}"> {{column.display}}  </th>
      <!-- COLUMN DISPLAY -->
      <td mat-cell *matCellDef="let element"> {{element[column.id]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" class="header-row"></tr>
    <tr mat-row [@rowsAnimation2]="{value: 'added', params: { fadeOutTime: rowFadeOutTime, fadeInTime: rowFadeInTime}}" 
      *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[7, 10, 15, 50]" showFirstLastButtons pageSize="7"
    class="mat-paginator-sticky font-secondary" (page)="onPage($event)"></mat-paginator>
</div>
