table {
  width: 100%;
}

.wider-column {
  min-width: 300px;
}

.table-header-cell {
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 15px;
}

.sticky-header-row {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  min-height: 40px;
}
