.signin-header {
  font-size: 20px;
}

.signin-subheader {
  font-size: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.new-user-label {
  font-size: 13px;
  cursor: pointer;
  color: #6c757d;
}

.new-user-label:hover {
  text-decoration: underline;
  color: #000;
}