<h1 mat-dialog-title class="text-center">
  <img src="assets/stopwatch.png" width="30" height="30" class="d-inline-block align-top" alt="watch logo">
  <div class="">
    Chronometer
  </div>
</h1>

<div mat-dialog-content class="font-roboto text-center">
  <h2 class="signin-header">
    <span>{{ title }}</span>
  </h2>
  <div class="signin-subheader mb-20">{{ subTitle }}</div>
  <mat-form-field>
    <input matInput placeholder="Name" cdkFocusInitial [(ngModel)]="currentUser.user.id" 
      (ngModelChange)="onLoginNameChange($event)">
  </mat-form-field>

  <div class="mb-20">
    <a *ngIf="!registerMode && !loginRequesting" class="new-user-label" 
      (click)="userIsNew()" href="javascript:void(0)">I am new...</a>
  </div>
</div>

<div mat-dialog-actions class="font-roboto justify-content-center">
  <!-- <button mat-button (click)="onDefaultClick()">Login as guest.</button> -->
  <!-- <button mat-flat-button [mat-dialog-close]="defaultGuest" color="primary">{{btnCancel}}</button> -->
  <button mat-flat-button (click)="onCancel()" [disabled]="registerMode && loginRequesting" color="accent">
    {{ btnCancel }}
  </button>

  <button [ngStyle]="{'display':registerMode?'initial':'none'}" #confirmButton mat-flat-button 
    [disabled]="loginDisable || loginRequesting" color="primary">
      {{ btnConfirm }}
  </button>

  <button #loginButton [ngStyle]="{'display':registerMode?'none':'initial'}" mat-flat-button 
    [disabled]="loginDisable || loginRequesting" (click)="onLogin()" color="primary">
      {{ btnLogin }}
  </button>
</div>
