/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:100i,300i,100,300,400,400i');
@import url('https://fonts.googleapis.com/css?family=Kalam:400,700&display=swap');

p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 25px !important;
  font-family: 'Kalam', cursive !important;
}

.center-text {
  text-align: center;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-secondary {
  font-family: 'Kalam', cursive;
}

.font-25 {
  font-size: 25px;
}

.font-15 {
  font-size: 15px;
}

.font-10 {
  font-size: 10px;
}

.font-thin {
  font-weight: 300;
}

.no-padding {
  padding: 0 !important;
}