.border-left {
  border-left: 1px solid rgba(0,0,0,.1);
}

.toggle-width {
  width: 80px;
}

.start-color {
  background-color: #00802b;
}

.stop-color {
  background-color: #cc0000;
}

.time-display {
  font-size: 75px;
  font-weight: 300;
}

.reset-lap { 
  margin-left: 1px;
}

.bottom-sticky {
  position: sticky;
  bottom: 20rem;
  align-self: flex-end;
}