<div class="container-fluid">
  <div class="row">
    
    <!-- Timer side -->
    <div class="col mt-5">
      <h1 class="font-secondary center-text">Ready, set...</h1>
      <div>
        <div class="row text-center">
          <div class="col">
            <span class="time-display font-secondary" [rainbow]="timerStarted">{{timerInMilli | timeFormat}}</span>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="">
            <button (click)="toggleStart()" mat-flat-button color="primary"
              [ngClass]="{'toggle-width': true, 'start-color': !timerStarted, 'stop-color': timerStarted}">
              {{timerStarted | buttonToggleText:(timerInMilli > 0)}}
            </button>
          </div>
          <div class="reset-lap">
            <button (click)="toggleReset()" class="toggle-width" [disabled]="!timerStarted && timerInMilli===0"
              mat-flat-button color="primary">{{resetLapText}}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Left side -->
    <div class="col mt-5">
      <app-history [timeData]="currentUser.data"></app-history>
    </div>
  </div>
</div>